body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 3px solid black;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #151615;
    border-radius: 5px;
}